img {
  max-width: 100%;
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--gl-orange);
}

h2,
h3 {
  background-color: var(--gl-orange);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 2px;
  /*border-left-radius: 15px;*/
  /*border-right-radius: 15px;*/
}

.listing {
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.listing li {
  /*border: 1px solid var(--gl-orange);*/
  /*border-radius: 20px;*/
  
  display: flex;
  flex-direction: column;
}

.listing li .body {
  /*border: 1px solid var(--gl-orange);*/
  border-radius: 20px;
  background-color: white;
  /*background-color: var(--gl-orange)*/
}

.listing .expertise-name {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: var(--gl-orange);
}

.listing .expertise-name:first-letter {
  text-transform: capitalize;
}

.listing .body {
  padding: 10px;
}
