/* 
Use Grid CSS or FlexBox
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout
https://css-tricks.com/snippets/css/complete-guide-grid/
https://www.creativebloq.com/how-to/create-a-responsive-layout-with-css-grid

https://codepen.io/mozilladevelopers/pen/veXQmp
https://codepen.io/landike/pen/mGgzba

http://blog.maxrudberg.com/post/38314637011/ios-icon-template
*/

.leaflet {
  
}
