/* 
Use Grid CSS or FlexBox
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout
https://css-tricks.com/snippets/css/complete-guide-grid/
https://www.creativebloq.com/how-to/create-a-responsive-layout-with-css-grid
https://medium.com/deemaze-software/css-grid-responsive-layouts-and-components-eee1badd5a2f
https://medium.com/samsung-internet-dev/common-responsive-layouts-with-css-grid-and-some-without-245a862f48df
https://www.creativebloq.com/how-to/create-a-responsive-layout-with-css-grid
https://www.creativebloq.com/how-to/fashion-flexible-layouts-with-css-grid
https://www.creativebloq.com/features/css-grid-layout-secrets-revealed

https://codepen.io/mozilladevelopers/pen/veXQmp
https://codepen.io/landike/pen/mGgzba

http://blog.maxrudberg.com/post/38314637011/ios-icon-template
*/
/* So far works only, if main index.css file.*/

:root {
  --gl-orange: #f37138;
  --gl-grey: #ccc;
  --gl-black: #35241a;
}

* {
  box-sizing: border-box;
}

.loader {
  /*border: 16px solid var(--gl-grey);*/
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid var(--gl-orange);
  border-bottom: 16px solid var(--gl-orange);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font: 1.2em Helvetica, arial, sans-serif;
  background-color: var(--gl-grey)
  /*background-color: white;*/
}

.heading {
  width: 55%;
  margin: 0 auto;
  /*color: var(--gl-grey);*/
}

.heading span {
  color: var(--gl-orange);
}
/*https://css-tricks.com/snippets/css/ipad-specific-css/*/

@media only screen and (min-device-width: 320px) and (max-device-width: 481px) and (orientation: portrait) {
  /* For iPhone ? portrait layouts only */
  
  .heading {
    width: 82%;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  
  .heading {
    width: 82%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
